@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Noto Sans KR','Lato', sans-serif;
 }


.App{
  overflow: hidden;
  width: calc(100% - 128px);
  height: calc(100vh - 64px);
  margin: 32px 64px;
  position: absolute;
  max-height: 100vh; 
  /* max-height을 설정해야 스크롤이 생김 */
  border: 1px black solid;
}